# Python
__pycache__/
*.py[cod]
*.class

# MoDora Directories
cache/
log/
output/
evaluation/
MoDora-backend/src/modora_backend.egg-info
MoDora-backend/bin

# Datasets & Large Files
*.pdf
datasets/
models/

# Environment variables
.env

# OS specific
.DS_Store

MoDora-backend/configs/*

MoDora-backend/activate.sh

MoDora-backend/logs/*
MoDora-backend/tests/*
.trae